<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<!-- Document Metadata -->
		<meta http-equiv="Content-Language" content="en">
		<!-- CSS Stylesheets -->
		<link rel="stylesheet" type="text/css" href="[% request.uri_base %]/css/style.css">
		<!-- Favorite icon -->
		<link rel="shortcut icon" type="image/png" href="http://act.yapc.eu/favicon.png">
	</head>

<body>

<div id="header">
	<div id="logo"><img width="62" height="71" title="Mozilla Developer Network" alt="Mozilla Developer Network" src="https://developer.cdn.mozilla.net/media/img/mdn-logo-sm.png"></div>
	<div id="title">The new template!</div>
</div>

<div id="content">
	<div id="userbar">
		<div id="user">Hi, <a href="#">mwm</a><a href="#">(Edit)</a></div>
		<div id="logout"><a href="#">logout</a></div>
	</div>
	<div id="menu">
		<ul>
			<li>Schedule</li>
			<li>Schedule</li>
			<li>Schedule</li>
			<li>Schedule</li>
			<li>Schedule</li>
		</ul>	
	</div>
	<div id="main">

[% content %]

	</div>
</div>
	<div id="footer">
		<div id="gggg">Powered by <a href="http://perldancer.org/">Dancer</a> [% dancer_version %]</div>
	</div>

</body>
</html>

