
<h1>Profile for [% user.nick_name %]</h1>

<p>[% user.first_name %] [% user.last_name %]
<p>from [% user.town %], [% user.country %]

<p>» <a href="[% user.web_page %]">[% user.web_page %]</a>
<p>» <a href="http://metacpan.org/author/[% user.pause_id %]">[% user.pause_id %]</a>

